<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invitación al Galardonado</title>
    <style>
        .salto{
            page-break-after: always;
        }
    </style>
</head>
<body>
    <div style="text-align: center;">
        <div style="position: relative;">
            <img src="src\img\Secretaria de eduacion logo.png" alt="Logo 1" style="width: 180px; height: auto; margin-top: 20px; position: absolute; top: 10px; left: 0;">
            <img src="src\img\ipn-logo-small.png" alt="Logo 2" style="width: auto; height: 90px; margin-top: 20px; position: absolute; top: 0; right: 0;">
            <h1 style="color: rgb(128, 36, 52); margin-top: 120px; margin-bottom: 20px;">INVITACIÓN AL GALARDONADO IPN</h1>
            <hr style="width: 81%; margin: auto; border: 1px solid black; margin-bottom: 20px;">
            <h2 style="color: black; margin-top: 0; margin-bottom: 20px;">La técnica al servicio de la patria.</h2>
        </div>
    </div>


<div style="text-align: center;">
<p style="text-align: justify; font-size: 18px;">El Instituto Politécnico Nacional tiene el honor de invitarle a usted <em>{{nombres}} {{apellidos}}</em> con CURP: {{curp}} 
            a la celebración de su 88 aniversario y condecoración oficial que se llevará a cabo el día 21 de mayo del año 2024. La ceremonia se realizará 
            en las instalaciones del Centro Cultural Jaime Torres Bodet (IPN).</p>
    </div>

<div style="text-align: left;">
<p style="text-align: justify; font-size: 18px;"> <b>DIRECCIÓN: </b> Av. Wilfrido Massieu s/n, Nueva Industrial Vallejo, Gustavo A. Madero, 07738 Ciudad de México, CDMX.</p>
<p style="text-align: justify; font-size: 18px;"> <b>CURP: </b> {{curp}}.</p>
<p style="text-align: justify; font-size: 18px;"> <b>CONDECORACIÓN: </b> {{premio}}.</p>
<p style="text-align: justify; font-size: 18px;"> <b>CONDICIÓN ESPECIAL: </b> {{condicion}}.</p>
<p style="text-align: justify; font-size: 18px;"> <b>CUENTA CON ACOMPAÑANTE: </b> {{invitado}}.</p>
<p style="text-align: justify; font-size: 18px;"> <b>FECHA Y HORA DE CELEBRACIÓN: </b> 21 de Mayo del 2024 a las 14:00 horas.</p>
<p style="text-align: justify; font-size: 18px;"> <b>TELÉFONO: </b> +52 55 5729 6000.</p>
<p style="text-align: justify; font-size: 18px;"> <b>CORREO ELECTRÓNICO: </b> dpb@ipn.mx.</p>
</div>

<div style="position: fixed; bottom: 150px; left: 0; width: 100%; text-align: center;">
<p style="font-size: 24px;"><b>Estamos agradecidos con su presencia y esperamos verlo pronto.</b></p>
</div>

<div style="position: fixed; bottom: 20px; left: 0; width: 100%; text-align: right;">
    <p><b>Dr. Arturo Reyes Sandoval</b></p>
    <p><b>Director General Del Instituto Politécnico Nacional (IPN)</b></p>
</div>



<div style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; opacity: 0.2;">
<img src="src\img\ipn.png" style="width: 100%; height: 100%;" />
</div>


<div class="salto"></div>


<div style="text-align: center;">
        <div style="position: relative;">
            <img src="src\img\Secretaria de eduacion logo.png" alt="Logo 1" style="width: 180px; height: auto; margin-top: 20px; position: absolute; top: 10px; left: 0;">
            <img src="src\img\ipn-logo-small.png" alt="Logo 2" style="width: auto; height: 90px; margin-top: 20px; position: absolute; top: 0; right: 0;">
            <h1 style="color: rgb(128, 36, 52); margin-top: 120px; margin-bottom: 20px;">INVITACIÓN AL GALARDONADO IPN</h1>
            <hr style="width: 81%; margin: auto; border: 1px solid black; margin-bottom: 20px;">
            <h2 style="color: black; margin-top: 0; margin-bottom: 20px;">La técnica al servicio de la patria.</h2>
        </div>
    </div>


<div style="text-align: center;">
<p style="text-align: justify; font-size: 18px;">El Instituto Politécnico Nacional tiene el honor de invitarle a usted <em>{{nombresinvitado}} {{apellidosinvitado}}</em> 
            a la celebración de su 88 aniversario y condecoración oficial que se llevará a cabo el día 21 de mayo del año 2024. La ceremonia se realizará 
            en las instalaciones del Centro Cultural Jaime Torres Bodet (IPN).</p>
    </div>

<div style="text-align: left;">
<p style="text-align: justify; font-size: 18px;"> <b>DIRECCIÓN: </b> Av. Wilfrido Massieu s/n, Nueva Industrial Vallejo, Gustavo A. Madero, 07738 Ciudad de México, CDMX.</p>
<p style="text-align: justify; font-size: 18px;"> <b>CONDICIÓN ESPECIAL: </b> {{condicioninvitado}}.</p>
<p style="text-align: justify; font-size: 18px;"> <b>FECHA Y HORA DE CELEBRACIÓN: </b> 21 de Mayo del 2024 a las 14:00 horas.</p>
<p style="text-align: justify; font-size: 18px;"> <b>TELÉFONO: </b> +52 55 5729 6000.</p>
<p style="text-align: justify; font-size: 18px;"> <b>CORREO ELECTRÓNICO: </b> dpb@ipn.mx.</p>
</div>

<div style="position: fixed; bottom: 150px; left: 0; width: 100%; text-align: center;">
<p style="font-size: 24px;"><b>Estamos agradecidos con su presencia y esperamos verlo pronto.</b></p>
</div>

<div style="position: fixed; bottom: 20px; left: 0; width: 100%; text-align: right;">
    <p><b>Dr. Arturo Reyes Sandoval</b></p>
    <p><b>Director General Del Instituto Politécnico Nacional (IPN)</b></p>
</div>



<div style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; opacity: 0.01;">
<img src="src\img\ipn.png" style="width: 100%; height: 100%;" />
</div>

</body>
</html>